#Before installing python dependencies from requirements.txt \n
#file first we have to install sudo dependencies

# sudo apt-get install -y  python3 libpoppler-cpp-dev libpoppler-dev cmake libgl1-mesa-glx libsm6 libxext6 libgl1 libglib2.0-0 python3-opencv libxml2-dev libxslt1-dev antiword unrtf poppler-utils pstotext tesseract-ocr flac ffmpeg lame libmad0 libsox-fmt-mp3 sox libjpeg-dev swig libpulse-dev python3-opencv libglib2.0-0 libgl1 libxext6 libsm6 libgl1-mesa-glx python3-tk ghostscript
#python -m pip install boto3

aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
argcomplete==1.10.3
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
blis==0.7.9
boto3==1.26.109
botocore==1.29.109
# camelot-py==0.11.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
compressed-rtf==1.0.6
confection==0.0.4
contourpy==1.1.0
cryptography==40.0.1
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.9
distro==1.8.0
dnspython==2.3.0
docutils==0.19
docx2txt==0.8
ebcdic==1.1.1
et-xmlfile==1.1.0
extract-msg==0.28.7
fonttools==4.40.0
frozenlist==1.3.3
ghostscript==0.7
greenlet==2.0.2
idna==3.4
imagesize==1.4.1
IMAPClient==2.1.0
importlib-metadata==6.3.0
importlib-resources==5.12.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
kiwisolver==1.4.4
langchain==0.0.223
langchainplus-sdk==0.0.20
langcodes==3.3.0
loguru==0.7.0
lxml==4.9.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
numexpr==2.8.4
numpy==1.24.2
olefile==0.46
openai==1.13.3
# ==1.6.1
# 0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.1.2
packaging
# ==23.0
pandas==2.0.0
pathy==0.10.1
pdfminer==20191125
# pdfminer.six==20221105
pdfminer.six==20191110
# pdfplumber==0.9.0

# ==0.2.3
Pillow==10.0.0
pinecone-client==2.2.2
pip==20.0.2
plotly==5.15.0
psutil==5.9.5
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pymongo==4.4.0
pyparsing==3.1.0
pypdf==3.7.1
pypdf2==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-pptx==0.6.21
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.31.0
s3transfer==0.6.0
schedule==1.2.0
scikit-learn==1.3.0
scipy==1.10.1
setuptools==44.0.0
six==1.12.0
smart-open==6.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SpeechRecognition==3.8.1
SQLAlchemy==2.0.17
srsly==2.4.6
tabulate==0.9.0
tenacity==8.2.2
textract==1.6.5
threadpoolctl==3.1.0
tqdm==4.65.0
typer==0.7.0
typing-extensions==4.8.0
# 4.5.0
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
Wand==0.6.11
wget==3.2
xlrd==1.2.0
XlsxWriter==3.1.2
yarl==1.9.2
zipp==3.15.0
uvicorn==0.23.2
fastapi==0.103.1
fastapi-cors==0.0.6 

Werkzeug==2.3.6
tiktoken
# ==0.4.0
regex==2023.6.3
itsdangerous==2.1.2
gunicorn==20.1.0
Flask==2.3.2
Flask-Cors==4.0.0
blinker==1.6.2
openpyxl==3.1.2
pdftopng
langchain-openai==0.0.8
#pip3 install spacy
#python3 -m spacy download en_core_web_sm

# pip==20.0.2
# openai
# matplotlib
# scipy
# scikit-learn
# plotly
# pinecone-client
# alabaster==0.7.13	
# argcomplete==1.10.3	
# Babel==2.12.1	
# backports.zoneinfo==0.2.1	
# beautifulsoup4==4.8.2	
# blis==0.7.9	
# boto3==1.26.109	
# botocore==1.29.109	
# camelot-py
# catalogue==2.0.8	
# certifi==2022.12.7	
# cffi==1.15.1	
# chardet==3.0.4	
# charset-normalizer==3.1.0	
# click==8.1.3	
# compressed-rtf==1.0.6	
# confection==0.0.4	
# cryptography==40.0.1	
# cymem==2.0.7	
# distro==1.8.0	
# dnspython==2.3.0	
# docutils==0.19	
# docx2txt==0.8	
# ebcdic==1.1.1	
# et-xmlfile==1.1.0	
# extract-msg==0.28.7	
# ghostscript==0.7	
# idna==3.4	
# imagesize==1.4.1	
# IMAPClient==2.1.0	
# importlib-metadata==6.3.0	
# Jinja2==3.1.2	
# jmespath==1.0.1	
# langcodes==3.3.0	
# lxml==4.9.2	
# MarkupSafe==2.1.2	
# murmurhash==1.0.9	
# numpy==1.24.2	
# olefile==0.46	
# opencv-python==4.7.0.72	
# opencv-python-headless==4.7.0.72	
# openpyxl==3.1.2	
# packaging==23.0	
# pandas==2.0.0	
# pathy==0.10.1	
# pdfminer==20191125	
# # pdfminer.six==20221105	
# pdfminer.six
# pdftopng==0.2.3	
# pdftotext==2.2.2	
# phonenumbers==8.13.8	
# Pillow==9.5.0	
# # pip==20.0.2	
# # pkg-resources==0.0.0	
# pocketsphinx==5.0.0	
# preshed==3.0.8	
# psutil==5.9.4	
# pycparser==2.21	
# pycryptodome==3.17	
# pydantic==1.10.7	
# Pygments==2.14.0	
# pymongo==4.3.3	
# pypdf==3.7.1	
# pypdf2==3.0.1	
# python-dateutil==2.8.2	
# python-dotenv==1.0.0	
# python-poppler==0.2.0	
# python-pptx==0.6.21	
# pytz==2023.3	
# pytz-deprecation-shim==0.1.0.post0	
# regex==2023.3.23	
# requests==2.28.2	
# s3transfer==0.6.0	
# schedule==1.2.0	
# setuptools==44.0.0	
# six==1.12.0	
# smart-open==6.3.0	
# snowballstemmer==2.2.0	
# sounddevice==0.4.6	
# soupsieve==2.4	
# spacy==3.5.1	
# spacy-legacy==3.0.12	
# spacy-loggers==1.0.4	
# SpeechRecognition==3.8.1	
# sphinx==6.1.3	
# sphinx-argparse==0.4.0	
# sphinxcontrib-applehelp==1.0.4	
# sphinxcontrib-devhelp==1.0.2	
# sphinxcontrib-htmlhelp==2.0.1	
# sphinxcontrib-jsmath==1.0.1	
# sphinxcontrib-qthelp==1.0.3	
# sphinxcontrib-serializinghtml==1.1.5	
# srsly==2.4.6	
# tabula-py==2.7.0	
# tabulate==0.9.0	
# textract
# thinc==8.1.9	
# tqdm==4.65.0	
# typer==0.7.0	
# typing-extensions==4.5.0	
# tzdata==2023.3	
# tzlocal==4.3	
# urllib3==1.26.15	
# Wand==0.6.11	
# wasabi==1.1.1	
# wget==3.2	
# xlrd==1.2.0	
# XlsxWriter==3.0.9	
# zipp==3.15.0	
# pdfplumber
# pandas scipy plotly matplotlib seaborn scipy scikit-learn schedule wget textract camelot PyPDF2 pdfplumber openpyxl python-dotenv
########################

-e .